@import "../CSS/main.css";

.product-slider{
    padding:20px 0px 40px 0px;
}

.swiper-button-next,
.swiper-button-prev {
  color: white; /* Change the color to match your design */
  background-color: rgba(0, 0, 0, 0.5); /* Optional: semi-transparent background */
  border-radius: 50%; /* Optional: rounded buttons */
  width: 40px; /* Adjust button size */
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px; /* Font size of the arrow */
  color: white; /* Color of the arrow */
}

.swiper-button-next {
  right: 10px; /* Positioning */
}

.swiper-button-prev {
  left: 10px; /* Positioning */
}


.info_over_img{
    position: absolute;
    top:10%;
    left:40%;
    color:white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
} 

.info_over_img p{
  font-size: 24px;
}

.product-slider {
    width: 100%;
    margin: auto;
  }
  
  .swiper-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .swiper-slide img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Optional: for rounded corners */
  }
  

